__pycache__/*
backend/__pycache__/*
detectors/__pycache__/*
detectors/algorithms/__pycache__/*
archive/__pycache__/*
imgcache/*
mydatabase.db
weights
# config.yml <-- eventually will need to white this out

.idea
*.PNG
