<!DOCTYPE html>
<html>
  <head>
    <title>OSM Building Detector</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}" >
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }#map {
        height: 100%;
      }
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
  </head>
  <body>
    <!--
    <div id="title" style="z-index: 500; left: 0%; right: 0%; margin-left: auto; margin-right: auto; position: absolute">
        <h4 style="color: white; text-align: center; margin-top: 0%">OpenStreetMap Building Detector</h4>
    </div>
    -->
    <div id="map"></div>
    <script>
        // Create map
        var map = L.map('map').setView([45.1269, -94.5266], 13);

        L.tileLayer('imagery/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        // Marker
        L.marker([45.1269, -94.5266]).addTo(map)
            .bindPopup('Our testing location is Litchfield, Minnesota!<br>Try clicking the map.')
            .openPopup();


        // Popup to show when the user clicks
        var popup = L.popup();

        // Handle map clicks
        function onMapClick(e) {
            //uploads are now valid so button is enabled (or re-enabled)
            uploadButton.enable();
            /*popup.setLatLng(e.latlng);
            popup.setContent("You clicked the map at<br>(" + e.latlng.lat + ", " + e.latlng.lng + ") !");
            popup.openOn(map);*/
            // Send the map click
            var params = "lat=" + encodeURIComponent(e.latlng.lat + "") + "&long=" + encodeURIComponent(e.latlng.lng + "") + "&zoom=" + encodeURIComponent(map.getZoom());
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "./mapclick", true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            // Wait for a response
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {

                    // Parse the response
                    var responseJson = JSON.parse(xhr.responseText);
                    var rectsToUpdate = responseJson["rectsToAdd"];
                    var rectsToDelete = responseJson["rectsToDelete"];

                    // Add polygon(s)
                    if (rectsToUpdate.length > 0) {
                        var rect = rectsToUpdate[0];
                        var rect_nodes = rect["points"];
                        var rect_id = rect["id"];
                        addPolygon(rect_nodes, rect_id);
                    }

                    // Delete polygon(s)
                    if (rectsToDelete["ids"].length > 0) {
                        for (var i = 0; i < rectsToDelete["ids"].length; i++) {
                            removePolygon(rectsToDelete["ids"][i]);
                        }
                    }
                }
            }
            xhr.send(params);
        }
        map.on("click", onMapClick);

        // Polygons
        var polygons = {}

        var polygonStack = [];

        function addStuff() {
            addPolygon([[45.12735370724504, -94.5264905691147],
            [45.12736127276118, -94.52608287334444],
            [45.127221310550375, -94.5260775089264],
            [45.127225093317335, -94.5264905691147]], 0);
        }

        // Add a polygon to the map
        function addPolygon(nodeList, id) {
            // Remove the polygon if it already exists
            if (id in polygons) {
                removePolygon(id);
            }

            polygons[id] = L.polygon(nodeList);
            polygons[id].addTo(map);

            // Update the polygon stack
            polygonStack.push(id);

            // Update the uploadButton
            uploadButton.enable();
        }

        // Gets a polygon object from a given ID.
        // If the polygon is not in the map, the return value will be
        // "undefined".
        function getPolygon(id) {
            if (id in polygons) {
                return polygons[id];
            } else {
                return undefined;
            }
        }

        // Remove a polygon (external only)
        function removePolygon(id, updateStack = true, sendChange = false) {
            // Remove from map
            polygons[id].remove();
          
            // Remove from dictionary
            delete polygons[id];
            
            if (updateStack) {
                polygonStack.splice(polygonStack.indexOf(id), 1);
            }

            if (sendChange) {
                var params = "rect_id=" + encodeURIComponent(id + "");
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "./deleterect", true);
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                // Wait for a response
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        // Response here
                    }
                }
                xhr.send(params);
            }

            // Update upload button
            uploadButton.enable();
        }

        // Toggle the merge mode - whether rectangles combine (external only)
        function mergetoggle() {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "./mergetoggle", true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            // Wait for a response
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    if (xhr.responseText == "merge_enabled") {
                        mergeMode = true;
                        mergeButton.update();
                    } else if (xhr.responseText == "merge_disabled") {
                        mergeMode = false;
                        mergeButton.update();
                    }
                }
            }
            xhr.send();
        }

        // Add Ctrl+Z functionality
        function onBodyKeyDown(event) {
            if (event.ctrlKey && event.key == "z") {
                undoAddPolygon();

            }
            
            // Handle the merge toggle button
            if (event.key == "m") {
                mergetoggle();
                mergeButton.update();
            }
        }
        document.body.onkeydown = onBodyKeyDown;

        // Undo adding a polygon
        function undoAddPolygon() {
            if (polygonStack.length > 0) {
                var lastPolygonId = polygonStack.pop();
                removePolygon(lastPolygonId, false, true);
            }
        }

        // Add upload control
        L.Control.UploadButton = L.Control.extend({
            // @section
            // @aka Control.Zoom options
            options: {
                position: 'topleft',
                // @option uploadText: String = '+'
                // The text set on the 'upload' button.
                uploadText: '&#x1F81D',
                // @option uploadTitle: String = 'Zoom in'
                // The title set on the 'zoom in' button.
                uploadTitle: 'Upload'
            },
            onAdd: function (map) {
                var zoomName = 'leaflet-control-zoom',
                    parentContainer = L.DomUtil.create('div'),
                    container = L.DomUtil.create('div', zoomName + ' leaflet-bar', parentContainer),
                    options = this.options;
                this.uploadButton = this._createButton(options.uploadText, options.uploadTitle,
                        zoomName + '-in',  container, this.uploadButtonClick);

                // Add popup bar
                var divContainer = document.createElement("div");
                divContainer.id = "popupDiv";
                divContainer.style.position = "absolute";
                divContainer.style.zIndex = 600;
                divContainer.style.left = "5%";
                divContainer.style.top = "5%";
                divContainer.visibility = "hidden";

                document.body.appendChild(divContainer);

                this._popupBar = L.DomUtil.create("p", "leaflet-bar", divContainer);
                this._popupBar.style.backgroundColor = "white";
                this.disable();
                this._updateDisabled();
              
                return parentContainer;
            },
            onRemove: function (map) {
                map.off('zoomend zoomlevelschange', this._updateDisabled, this);
            },

            showPopUpBar: function(text) {
                // Set the text
                this._popupBar.innerHTML = text;
                document.getElementById("popupDiv").style.visibility = "";

                window.setTimeout(this.hidePopUpBar, 5000);
            },

            hidePopUpBar: function () {
                document.getElementById("popupDiv").style.visibility = "hidden";
            },
            disable: function () {
                this._disabled = true;
                this._updateDisabled();
                return this;
            },
            enable: function () {
                this._disabled = false;
                this._updateDisabled();
                return this;
            },
            uploadButtonClick: function (e) {
                // Pass the upload command to the server
                if (!this._disabled) {
                    uploadClick(e);
                }
                
                // Disable the button to show that it is working
                this._updateDisabled(true);
            },

            _createButton: function (html, title, className, container, fn) {
                var link = L.DomUtil.create('a', className, container);
                link.innerHTML = html;
                link.href = '#';
                link.title = title;
                /*
                 * Will force screen readers like VoiceOver to read this as "Zoom in - button"
                 */
                link.setAttribute('role', 'button');
                link.setAttribute('aria-label', title);
                L.DomEvent.disableClickPropagation(link);
                L.DomEvent.on(link, 'click', L.DomEvent.stop);
                L.DomEvent.on(link, 'click', fn, this);
                L.DomEvent.on(link, 'click', this._refocusOnMap, this);
                return link;
            },
            _updateDisabled: function (disabled = (polygonStack.length == 0)) {
                var map = this._map,
                    className = 'leaflet-disabled';
                
                this._disabled = disabled;

                L.DomUtil.removeClass(this.uploadButton, className);
                if (this._disabled) {
                    L.DomUtil.addClass(this.uploadButton, className);
                }
            }
        });

        // Upload button constructor
        L.control.uploadButton = function(opts) {
            return new L.Control.UploadButton(opts);
        }

        // Add the upload button to the map
        var uploadButton = L.control.uploadButton({ position: "topleft" }).addTo(map);

        // Handle the upload control click
        function uploadClick(e) {
            var params = "";
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "./uploadchanges", true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            // Wait for a response
            xhr.onreadystatechange = function() {
                var success = false;
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Response here
                    var responseText = xhr.responseText;
                    if (Number(responseText) > 0) {
                        uploadButton.disable();

                        s = "";
                        if (Number(responseText) > 1) {
                            s = "s";
                        }

                        uploadButton.showPopUpBar(responseText + " building" + s + " added to OpenStreetMap!");

                        // Change current polygon colors
                        for (thisPolygon in polygons) {
                            polygons[thisPolygon].setStyle({fillColor: '#00FF00', color: '#00FF00'});
                        }

                        // Clear polygon dictionary and the stack
                        polygons = {};
                        polygonStack = [];

                        success = true;
                        uploadButton.disable();
                    }
                }

                // Enable the button again
                if (!success) {
                    uploadButton.enable();
                }
            }
            xhr.send(params);
        }

        var mergeMode = false;
        
        // Add merge control
        L.Control.MergeButton = L.Control.extend({
            // @section
            // @aka Control.Zoom options
            options: {
                position: 'topleft',
                // @option mergeText: String = '+'
                // The text set on the 'merge' button.
                mergeText: 'M',
                // @option mergeTitle: String = 'Zoom in'
                // The title set on the 'zoom in' button.
                mergeTitle: 'Toggle Merge'
            },
            onAdd: function (map) {
                var zoomName = 'leaflet-control-zoom',
                    container = L.DomUtil.create('div', zoomName + ' leaflet-bar'),
                    options = this.options;
                this.mergeButton = this._createButton(options.mergeText, options.mergeTitle,
                        zoomName + '-in',  container, this.mergeButtonClick);
                return container;
            },
            mergeButtonClick: function (e) {
                mergetoggle();
                
                // Update merge mode
                this.update();
            },
            
            update: function () {
                var col = "#FFFFFF";
                if (mergeMode) {
                    col = "#BBFFBB";
                }
                this.mergeButton.style.backgroundColor = col;
            },

            _createButton: function (html, title, className, container, fn) {
                var link = L.DomUtil.create('a', className, container);
                link.innerHTML = html;
                link.href = '#';
                link.title = title;
                /*
                 * Will force screen readers like VoiceOver to read this as "Zoom in - button"
                 */
                link.setAttribute('role', 'button');
                link.setAttribute('aria-label', title);
                L.DomEvent.disableClickPropagation(link);
                L.DomEvent.on(link, 'click', L.DomEvent.stop);
                L.DomEvent.on(link, 'click', fn, this);
                L.DomEvent.on(link, 'click', this._refocusOnMap, this);
                return link;
            }
        });

        // Merge button constructor
        L.control.mergeButton = function(opts) {
            return new L.Control.MergeButton(opts);
        }

        // Add the merge button to the map
        var mergeButton = L.control.mergeButton({ position: "topleft" }).addTo(map);

        // Sync with OSM map
        function OSMSync(e) {
            // this function returns the NE and SW of the given image, returned as a dictionary
            var bounds = map.getBounds();
            var min_long = bounds['_southWest']['lng']
            var min_lat = bounds['_southWest']['lat']
            var max_lat = bounds['_northEast']['lat']
            var max_long = bounds['_northEast']['lng']
            var params = "min_long="+min_long+"&min_lat="+min_lat+"&max_long="+max_long+"&max_lat="+max_lat
            console.log('Sync Pressed')
            console.log('params: ' + params)
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "./OSMSync", true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            // Wait for a response
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Parse the response
                    var responseJson = JSON.parse(xhr.responseText);
                    var rectsToUpdate = responseJson["rectsToAdd"];

                    // Add polygon(s)
                    if (rectsToUpdate.length > 0) {
                        for (var count = 1; count < rectsToUpdate.length; count++) {
                          var rect_nodes = rectsToUpdate[count];
                          // temporary until we can disentangle this from adding a clicked building
                          var rect_id = -count;
                          addPolygonSync(rect_nodes, rect_id);
                        }
                    }
                }
            }
            xhr.send(params);
            console.log('Sync Finished')
        }
        // temporary, as it isn't related to the click but for now we'll make it so
        // map.on("click", OSMSync);

        // Add upload control
        L.Control.SyncButton = L.Control.extend({
            // @section
            // @aka Control.Zoom options
            options: {
                position: 'topleft',
                // @option mergeText: String = '+'
                // The text set on the 'merge' button.
                mergeText: 'S',
                // @option mergeTitle: String = 'Zoom in'
                // The title set on the 'zoom in' button.
                mergeTitle: 'Sync with OSM'
            },
            onAdd: function (map) {
                var zoomName = 'leaflet-control-zoom',
                    container = L.DomUtil.create('div', zoomName + ' leaflet-bar'),
                    options = this.options;
                this.SyncButton = this._createButton(options.mergeText, options.mergeTitle,
                        zoomName + '-in',  container, this.mergeButtonClick);
                return container;
            },
            mergeButtonClick: function (e) {
                OSMSync(e);

                // Update merge mode
                this.update();
            },

            update: function () {
                var col = "#FFFFFF";
                if (mergeMode) {
                    col = "#BBFFBB";
                }
                this.SyncButton.style.backgroundColor = col;
            },

            _createButton: function (html, title, className, container, fn) {
                var link = L.DomUtil.create('a', className, container);
                link.innerHTML = html;
                link.href = '#';
                link.title = title;
                /*
                 * Will force screen readers like VoiceOver to read this as "Zoom in - button"
                 */
                link.setAttribute('role', 'button');
                link.setAttribute('aria-label', title);
                L.DomEvent.disableClickPropagation(link);
                L.DomEvent.on(link, 'click', L.DomEvent.stop);
                L.DomEvent.on(link, 'click', fn, this);
                L.DomEvent.on(link, 'click', this._refocusOnMap, this);
                return link;
            }
        });

        // Upload button constructor
        L.control.SyncButton = function(opts) {
            return new L.Control.SyncButton(opts);
        }

        // Add the upload button to the map
        var syncButton = L.control.SyncButton({ position: "topleft" }).addTo(map);

        polygonSync = {}

        // Add a polygon to the map
        function addPolygonSync(nodeList, id) {
            polygonSync[id] = L.polygon(nodeList);
            polygonSync[id].addTo(map);
            // Change current polygon colors
            polygonSync[id].setStyle({fillColor: '#A9A9A9', color: 	'#000000'});
        }

    </script>
  </body>
</html>